<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>静态文件</title>
    <link rel="icon" href="{{ url_for('static', filename='01.jpg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>
      <img
        alt="branch"
        src="{{ url_for('static', filename='03.jpg') }}"
      />
      风景
    </h1>
    <div>
      <img
        alt="Gryffindor"
        src="{{ url_for('static', filename='04.jpg') }}"
      />
      <img
        alt="hogwarts"
        src="{{ url_for('static', filename='05.jpg') }}"
      />
    </div>
  </body>
</html>
<script type="text/javascript"></script>

